<h1><%= @book.title %></h1>
<p><strong><%= @book.author %> - <%= @book.published_at %> - <%= @book.pages_count %></strong></p>
<p><%= @book.description %></p>
<p><%= @book.editor_name %></p>
<%= link_to "Return to list", books_path %>